<a href="https://colab.research.google.com/github/martinpdab/asapa/blob/main/dataset_augmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import random as rd

In [3]:
URL = 'https://raw.githubusercontent.com/martinpdab/asapa/main/dataset/dataset-kasus-kekerasan.csv'
dataframe = pd.read_csv(URL)
dataframe.head()

  Tempat Kejadian  ... Mitigasi Resiko
0    rumah-tangga  ...               3
1    rumah-tangga  ...               3
2    rumah-tangga  ...               3
3    rumah-tangga  ...               3
4    rumah-tangga  ...               3

[5 rows x 7 columns]

In [5]:
from sklearn.utils import shuffle
df = shuffle(dataframe)
df.head()

     Tempat Kejadian  ... Mitigasi Resiko
4804         lainnya  ...               2
156     rumah-tangga  ...               3
4194         lainnya  ...               3
340     rumah-tangga  ...               3
692     rumah-tangga  ...               3

[5 rows x 7 columns]

In [6]:
df.to_csv('dataset-kasus-shuffled.csv', index=False)