<a href="https://colab.research.google.com/github/martinpdab/asapa/blob/main/machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [2]:
import numpy as np
import pandas as pd

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [4]:
URL = 'https://raw.githubusercontent.com/martinpdab/asapa/main/dataset.csv'
dataframe = pd.read_csv(URL)
dataframe.head()

  Tempat Kejadian  ... Mitigasi Resiko
0    rumah-tangga  ...               3
1    rumah-tangga  ...               3
2    rumah-tangga  ...               3
3    rumah-tangga  ...               3
4    rumah-tangga  ...               3

[5 rows x 7 columns]

In [8]:
from sklearn.utils import shuffle
df = shuffle(dataframe)
df.tail()

     Tempat Kejadian  ... Mitigasi Resiko
2708    rumah-tangga  ...               1
4001         lainnya  ...               2
860     rumah-tangga  ...               3
3582  fasilitas-umum  ...               2
1710    rumah-tangga  ...               3

[5 rows x 7 columns]

In [10]:
train, test = train_test_split(df, test_size=0.1)
print(len(train), 'train examples')
print(len(test), 'test examples')

4697 train examples
522 test examples

In [11]:
def df_to_dataset(df, shuffle=True, batch_size=32):
  dataframe = df.copy()
  labels = df.pop('Mitigasi Resiko')
  ds = tf.data.Dataset.from_tensor_slices((dict(df), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(df))
  ds = ds.batch(batch_size)
  return ds

In [12]:
batch_size = 5 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [ ]:
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))
  print('A batch of ages:', feature_batch['age'])
  print('A batch of targets:', label_batch )